.phonebook {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 15px;

}
.form-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.form-contact button{
    width: 100px;
}
